/* rtl:begin:ignore */
.overlay {
    composes: boxmodel font from '../mixins/globals.css';

    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.base {
    composes: boxmodel font from '../mixins/globals.css';

    display: inline-block;
    margin: 16px;
    color: #1976d2;
    animation: anim-rotate 1.4s linear infinite;
}

.base.small {
    width: 24px;
    height: 24px;
}

.base.medium {
    width: 50px;
    height: 50px;
}

.base.large {
    width: 80px;
    height: 80px;
}

.circle {
    stroke: currentColor;
    stroke-dasharray: 80px, 200px;
    stroke-dashoffset: 0;
    animation: anim-dash 1.4s ease-in-out infinite;
}

@keyframes anim-rotate {
    100% {
        transform: rotate(360deg);
    }
}

@keyframes anim-dash {
    0% {
        stroke-dasharray: 1px, 200px;
        stroke-dashoffset: 0;
    }
    50% {
        stroke-dasharray: 100px, 200px;
        stroke-dashoffset: -15px;
    }
    100% {
        stroke-dasharray: 100px, 200px;
        stroke-dashoffset: -120px;
    }
}
/* rtl:end:ignore */
