/** @format */

.container {
    min-height: 1rem;
    min-width: 1rem;
    position: absolute;
    z-index: 101;
    opacity: 1;
    transform: scaleY(1);
    animation-duration: 150ms;
    animation-timing-function: cubic-bezier(0.4, 0, 0.6, 1);
    animation-fill-mode: forwards;
}

.fade-in {
    transform-origin: center center;
    animation-name: anim-fade-in;
}
.fade-in .animate-out {
    animation-name: anim-fade-out;
}

.slide-down {
    transform-origin: center top;
    animation-name: anim-slide-down;
}
.slide-down .animate-out {
    animation-name: anim-slide-up;
}

.slide-x-y {
    transform-origin: left top;
    animation-name: anim-slide-in-x-y;
}
.slide-x-y .animate-out {
    animation-name: anim-slide-out-x-y;
}

.overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 100;
    background-color: transparent;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

@keyframes anim-fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes anim-fade-out {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes anim-slide-down {
    0% {
        opacity: 0;
        transform: scaleY(0);
    }
    100% {
        opacity: 1;
        transform: scaleY(1);
    }
}

@keyframes anim-slide-up {
    0% {
        opacity: 1;
        transform: scaleY(1);
    }
    100% {
        opacity: 0;
        transform: scaleY(0);
    }
}

@keyframes anim-slide-in-x-y {
    0% {
        opacity: 0;
        transform: scaleX(0) scaleY(0);
    }
    100% {
        opacity: 1;
        transform: scaleX(1) scaleY(1);
    }
}

@keyframes anim-slide-out-x-y {
    0% {
        opacity: 1;
        transform: scaleX(1) scaleY(1);
    }
    100% {
        opacity: 0;
        transform: scaleX(0) scaleY(0);
    }
}
