.base {
    height: 12px;
    padding-left: 14px;
    font-size: 12px;

    line-height: 12px;

    cursor: help;
}

.status-default {
    color: var(--grey700);
}

.status-valid {
    color: var(--blue600);
}

.status-error {
    color: var(--red500);
}

.status-warning {
    color: var(--yellow500);
}
