.base {
    height: 12px;
    padding-left: 14px;
    font-size: 12px;

    line-height: 12px;

    cursor: help;
}

.status-default {
    color: var(--solid);
}

.status-valid {
    color: var(--valid);
}

.status-error {
    color: var(--error);
}

.status-warning {
    color: var(--warning);
}
