/** @format */

.container {
    position: relative;
}

.icon {
    margin-right: 5px;
}

.dropdown-icon {
    margin-left: auto;
}

.select {
    pointer-events: all;
    user-select: none;
    display: flex;
    flex-direction: row;
    cursor: pointer;
    height: 44px;
}

.menu {
    position: absolute;
    z-index: 1000;
    left: 0;
    top: 44px;
}
