/** @format */

.container {
    display: inline-flex;
    vertical-align: top;
}

.input {
    min-width: 14.375rem;
    text-align: left;
}

/* TODO */
/*.d2ui-text-field--with-leading-icon .input {
    min-width: 16.375rem;
}*/

/* If a <label/> is wrapped around a <select/> it will normally cause an issue:
 * the <label/> and the <select/> will both get the :focus state and the <label/>
 * will close the dropdown options again immediately.
 * (Prehaps because the label is the parent element it will get higher priority?)
 * To combat this, we remove all pointer-events from the <label/> and then re-attach them to <select/>
 */
/* TODO */
/*.native label.d2ui-text-field {
    pointer-events: none;
}*/
.native .material-icons {
    pointer-events: none;
}

.native .input {
    pointer-events: all;
}
.native .input::-ms-expand {
    display: none;
}

/* BROWSER INCONSISTENCIES */
/* FIREFOX */
@-moz-document url-prefix() {
    .input {
        /* hide the arrow in FF */
        -moz-appearance: none;
        /* Hide the outline in FF */
        color: transparent;
    }
}
