.container {
    display: inline-flex;
    align-items: center;
    padding: 8px 0 6px 0;
    vertical-align: bottom;
    color: #494949;
    cursor: pointer;
}

.disabled {
    cursor: not-allowed;
    color: #9e9e9e;
}
/* So that vertical alignment with dense Fields won't break */
.dense {
    padding: 0.1875rem 0 0.0625rem 0;
}
