/**
 * *****************************************************************************
 * An implementation of the Type Scale grid found on the Material Design pages  *
 * https://material.io/design/typography/the-type-system.html#type-scale        *
 * Font sizes and letter spacing are all expressed in "rem". The "rem" values   *
 * have been calculated by multiplying the value in the grid by 0.0625          *
 * Font-weights were converted like this:                                       *
 *  - Light:   300                                                              *
 *  - Regular: 400                                                              *
 *  - Medium:  500                                                              *
 * *****************************************************************************
 */

[dir='ltr'] body,
[dir='ltr'] div {
    font-family: Roboto, sans-serif;
}

[dir='rtl'] body,
[dir='rtl'] div {
    font-family: 'Noto Naskh Arabic', sans-serif;
}

a {
    text-decoration: none;
}

a:link,
a:visited {
    text-decoration: none;
}

a:hover,
a:focus,
a:active {
    text-decoration: underline;
}

a:focus,
a:active {
    outline: none;
}
