.input {
    display: none;
}
.label {
    position: relative;
    padding: 0 0 0 44px;
    display: inline-block;
    text-align: left;
    font-weight: 400;
    cursor: pointer;
    user-select: none;
}
.label:before,
.label:after {
    content: '';
    position: absolute;
    margin: 0;
    outline: 0;
    top: 50%;
    transform: translate(0, -50%);
}
.label::before {
    left: 1px;
    width: 34px;
    height: 14px;
    opacity: 0.5;
    background-color: #bbbaba;
    border-radius: 8px;
}
.label::after {
    left: 0;
    width: 20px;
    height: 20px;
    background-color: #efefef;
    border-radius: 50%;
    box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.12), 0 1px 1px 0 rgba(0, 0, 0, 0.24);
}

.input:checked + .label::before {
    background-color: #009688;
}
.input:checked + .label::after {
    background-color: #009688;
    transform: translate(80%, -50%);
}

.status-valid.label::before,
.input:checked + .status-valid.label::before {
    background-color: #3d9305;
}
.status-valid.label::after,
.input:checked + .status-valid.label::after {
    background-color: #3d9305;
}

.status-warning.label::before {
    background-color: #e59635;
}
.status-warning.label::after {
    background-color: #e59635;
}

.status-error.label::before {
    background-color: #e53935;
}
.status-error.label::after {
    background-color: #e53935;
}

.disabled,
.disabled .label {
    cursor: not-allowed;
}
.input:disabled + .label::before {
    background-color: #dadada;
}
.input:disabled + .label::after {
    background-color: #f5f5f5;
}

.required::after {
    content: '*';
    padding-left: 4px;
}
