.container {
    box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2),
        0px 4px 5px 0px rgba(0, 0, 0, 0.14),
        0px 1px 10px 0px rgba(0, 0, 0, 0.12);
    width: 100%;
    display: flex;
    box-sizing: border-box;
    flex-shrink: 0;
    flex-direction: row;
    background-color: #eceff1;
}
.relative {
    position: relative;
}

.absolute {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 9000;
}

.sticky {
    position: sticky;
    top: 0;
    z-index: 9000;
}

.scroll-button {
    flex: 0 0 3rem;
    color: inherit;
    background-color: transparent;
    transition: all 150ms ease-in-out;
    border: none;
    outline: none;
    cursor: pointer;
    opacity: 1;
}
.scroll-button:active {
    /* Cheap ripple alternative to flash clicked tab */
    background-color: #e0e0e0;
}
.scroll-button.hidden {
    pointer-events: none;
    opacity: 0;
}

.scroll-box-clipper {
    overflow-y: hidden;
}

.test-horizontal-scrollbar-height {
    position: absolute;
    top: -9999px;
    width: 100px;
    height: 100px;
    overflow-x: scroll;
}

.scroll-box {
    flex-grow: 1;
    overflow-x: scroll;
    -webkit-overflow-scrolling: touch;
    display: -ms-flexbox;
    display: flex;
}

.test-horizontal-scrollbar-height,
.scroll-box::-webkit-scrollbar {
    display: none;
}

.scroll-area {
    position: relative;
    display: flex;
    flex: 1 0 auto;
    transform: none;
    will-change: transform;
}

.tab-container {
    position: relative;
    overflow-y: hidden;
}
.contained {
    display: flex;
    flex-grow: 1;
    overflow-x: hidden;
}

.contained .tab {
    line-height: 0.8rem;
}

.cluster-left {
    justify-content: flex-start;
}

.cluster-center {
    justify-content: center;
}

.cluster-right {
    justify-content: flex-end;
}

/* FIREFOX HACK */
@-moz-document url-prefix() {
    .container .scroll-area .tab-container {
        /* Forces all the tabs to be on one line */
        width: -moz-max-content;
    }
}

/* TAB */
.tab {
    background-color: transparent;
    height: 100%;
    border: none;
    outline: none;
    color: rgba(0, 0, 0, 0.6);
    transition: all 150ms ease-in-out;
    cursor: pointer;
    padding: 0.375rem 1.5rem;
    text-transform: uppercase;
    font-size: 0.875rem;
    line-height: 2.25rem;
    font-weight: 500;
    letter-spacing: 0.08929em;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    max-width: 20rem;
}
.tab.active {
    color: #000000;
}

.tab.disabled {
    color: rgba(0, 0, 0, 0.3);
    pointer-events: none;
}

.tab.stacked {
    flex-direction: column;
}

.tab.stacked .material-icons,
.tab.stacked .material-icons:first-child,
.tab.stacked .material-icons:last-child,
.tab.stacked .material-icons:only-child {
    margin: 0.6rem 0 0 0;
}

.tab:active {
    /* Cheap ripple alternative to flash clicked tab */
    background-color: #e0e0e0;
}

.tab-indicator {
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    height: 4px;
    /*
  * By choosing 1px here, we can use scaleX to animate the width
  * of the tabIndicator. I.e. 40px width = scaleX(40)
  */
    width: 1px;
    background-color: #1976d2;
    transform-origin: left bottom;
    transform: translateX(0) translateY(2px) scaleX(100);
    transition: none;
    visibility: hidden;
}

.tab-indicator.visible {
    visibility: visible;
}

.tab-indicator.animated {
    transition: transform 300ms ease-in-out;
}
