.d2ui-dialog {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 100;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;

    .d2ui-paper {
        width: 100%;
        height: 100%;
    }

    &__backdrop {
        pointer-events: all;
        cursor: default;
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: 101;
        background-color: rgba(0, 0, 0, 0.4);
        top: 0;
        left: 0;
    }

    &__window {
        pointer-events: all;
        position: absolute;
        z-index: 102;
        /* TEST STYLES */
        width: 800px;
        height: 800px;
    }
}
body.d2ui-scroll-disabled {
    height: 100% !important;
    overflow: hidden;
}
