.container {
    display: inline-flex;
    margin: 4px;
    padding: 7px 12px;
    border-radius: 1rem;
    background-color: #eceff1;
    font-size: 14px;
    line-height: 18px;
    align-items: center;
    color: rgba(0, 0, 0, 0.87);
    cursor: pointer;
    vertical-align: top;
    transition: all 150ms cubic-bezier(0.4, 0, 0.2, 1);
    transition-property: background-color, color;
    user-select: none;
}

.container:hover {
    background-color: #e0f2f1;
}

.static {
    pointer-events: none;
}

.static:hover {
    background-color: #eceff1;
}

.label {
    max-width: 150px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.icon {
    margin: -2px;
    font-size: 20px;
    line-height: 20px;
    margin-right: 4px;
    transition: color 150ms cubic-bezier(0.4, 0, 0.2, 1);
    color: #494949;
}

.image-icon {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    margin: -4px 4px -4px -8px;
}

.remove-button {
    height: 18px;
    line-height: 18px;
    padding: 0;
    font-size: 18px;
    border: none;
    background-color: transparent;
    margin-left: 4px;
    margin-right: -5px;
}

.remove-icon {
    pointer-events: all;
    font-size: 18px;
    line-height: 18px;
    color: #494949;
    cursor: pointer;
    opacity: 1;
    transition: all 150ms cubic-bezier(0.4, 0, 0.2, 1);
    transition-property: opacity, color;
}

.disabled .remove-icon {
    pointer-events: none;
}

.remove-button:hover .remove-icon {
    opacity: 0.82;
}

.selected {
    background-color: #00796b;
    color: #ffffff;
}

.selected:hover {
    background-color: #00695c;
}

.selected .icon,
.selected .remove-icon {
    color: #ffffff;
}

.disabled {
    opacity: 0.3;
    cursor: not-allowed;
}
.disabled:hover {
    background-color: #eceff1;
}

.disabled .remove-button {
    pointer-events: none;
}

.dragging {
    box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2),
        0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
}
