a.d2ui-tooltip {
    color: inherit;
    text-decoration: none;
    &:hover,
    &:visited,
    &:active {
        text-decoration: none;
    }
}

[data-d2ui-tooltip] {
    position: relative;

    &:after {
        color: #ffffff;
        background-color: #494944;
        border-radius: 0.125rem;
        content: attr(data-d2ui-tooltip);
        text-transform: initial;
        font-size: 0.625rem;
        line-height: 0.75rem;
        font-weight: 700;
        opacity: 0;
        overflow: hidden;
        padding: 0.25rem 0.5rem;
        position: absolute;
        transition: all 150ms cubic-bezier(0.4, 0, 0.6, 1);
        /* Delay hide on mouse-out as per material design specs:
           https://material.io/design/components/tooltips.html#behavior */
        transition-delay: 1.35s;
        white-space: pre;
        z-index: -1;
    }

    &:hover:after {
        opacity: 1;
        transition-delay: 0s;
        z-index: 99999;
    }

    &[data-d2ui-tooltip-multiline]:after {
        overflow: initial;
        white-space: initial;
    }

    &[data-d2ui-tooltip-position="top"]:after {
        top: 0;
        left: 50%;
        transform: translateY(-100%) translateY(-0.5rem) translateX(-50%);
    }

    &[data-d2ui-tooltip-position="right"]:after {
        top: 50%;
        right: 0;
        transform: translateX(100%) translateX(0.5rem) translateY(-50%);
    }

    &[data-d2ui-tooltip-position="bottom"]:after {
        bottom: 0;
        left: 50%;
        transform: translateY(100%) translateY(0.5rem) translateX(-50%);
    }

    &[data-d2ui-tooltip-position="left"]:after {
        top: 50%;
        left: 0;
        transform: translateX(-100%) translateX(-0.5rem) translateY(-50%);
    }
}
