:root {
    /* status */
    --solid: #494949;
    --idle: #c4c4c4;
    --default: #00796b;
    --valid: #1976d2;
    --error: #e53935;
    --warning: #f19c02;

    /* standard */
    --secondary-light: #48a999;
    --grey-light: #e0e0e0;
}
