.d2ui-tab {
    background-color: transparent;
    height: 100%;
    border: none;
    outline: none;
    color: rgba(0, 0, 0, 0.6);
    transition: all 150ms ease-in-out;
    cursor: pointer;
    padding: 0.375rem 1.5rem;
    text-transform: uppercase;
    font-size: 0.875rem;
    line-height: 2.25rem;
    font-weight: 500;
    letter-spacing: 0.08929em;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    max-width: 20rem;

    &--active {
        color: #000000;
    }

    &--disabled {
        color: rgba(0, 0, 0, 0.3);
        pointer-events: none;
    }

    &--stacked {
        flex-direction: column;

        .material-icons,
        .material-icons:first-child,
        .material-icons:last-child,
        .material-icons:only-child {
            margin: 0.6rem 0 0 0;
        }
    }

    &:active {
        /* Cheap ripple alternative to flash clicked tab */
        background-color: #e0e0e0;
    }
}
