.d2ui-tab-indicator {
    flex: 0 1 100px;
    display: block;
    height: 2px;
    /* 
         * By choosing 1px here, we can use scaleX to animate the width  
         * of the tabIndicator. I.e. 40px width = scaleX(40)
         */
    width: 1px;
    background-color: #1976d2;
    transform-origin: left bottom;
    transform: translateX(0) scaleX(100);
    transition: none;
    opacity: 1;

    &--hidden {
        opacity: 0;
    }

    &--animated {
        transition: transform 300ms ease-in-out;
    }
}
