.button {
    composes: boxmodel from '../mixins-global.css';

    user-select: none;
    position: relative;
    border: 1px solid transparent;
    border-radius: 5px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background-color: transparent;
    font-family: Roboto, sans-serif;
    font-weight: 400;
    letter-spacing: 0.5px;
    text-decoration: none;
    text-transform: capitalize;
    transition: all 0.15s cubic-bezier(0.4, 0, 0.6, 1);
}

.button:disabled {
    cursor: not-allowed;
}

.button:focus {
    /* Prevent default browser behavior whcih adds an outline */
    outline: none;
}

.button.icon {
    padding-left: 10px;
}

.size-small {
    font-size: 14px;
    line-height: 16px;
    height: 28px;
    padding: 6px 16px;
}

.size-medium {
    font-size: 14px;
    line-height: 16px;
    height: 36px;
    padding: 10px 16px;
}

.size-large {
    font-size: 16px;
    line-height: 19px;
    height: 43px;
    padding: 12px 24px;
}

.icon-only i {
    margin-right: 0;
    margin-left: 0;
}

.kind-basic {
    background-color: #f9fafb;
    border: 1px solid #c5c9cc;
}

.kind-basic:hover {
    border: 1px solid #c5c9cc;
    background-color: #f3f4f5;
}

.kind-basic:active,
.kind-basic:active:focus {
    background-color: #f3f4f5;
    border: 1px solid #c5c9cc;
    box-shadow: 0 0 0 1px #dfe0e1 inset;
}

.kind-basic:focus {
    background-color: #f9fafb;
    border: 1px solid #366acf;
    box-shadow: 0 0 0 1px #366acf inset;
}

.kind-basic:disabled {
    color: #a0a0a0;
    border: 1px solid #c5c9cc;
    background-color: #f9fafb;
    box-shadow: none;
}

.kind-primary {
    color: #fff;
    background-color: #2b61b3;
    border: 1px solid #1e4f9d;
    background: linear-gradient(#275cad, #1e4f9d);
}

.kind-primary:hover {
    border: 1px solid #1e4f9d;
    background-color: #21539f;
    background: linear-gradient(#21539f, #1c4a90);
}

.kind-primary:active,
.kind-primary:active:focus {
    background-color: #1c4a90;
    background: linear-gradient(#1c4a90, #1d4b90);
    border: 1px solid #1b4689;
    box-shadow: 0 0 0 1px #1b4689 inset;
}

.kind-primary:focus {
    background-color: #285dac;
    background: linear-gradient(#2f69bc, #2253a0);
    border: 1px solid #081f46;
    box-shadow: 0 0 0 1px #081f46 inset;
}

.kind-primary:disabled {
    color: #fff;
    background-color: #b6c8e2;
    background: linear-gradient(#b8cbe6, #b4c5de);
    border: 1px solid #b2c3dd;
    box-shadow: none;
}

.kind-secondary {
    background-color: #fcfcfc;
    border: 1px solid #e0e0e0;
}

.kind-secondary:hover {
    border: 1px solid #e0e0e0;
    background-color: #f5f5f5;
}

.kind-secondary:active,
.kind-secondary:active:focus {
    background-color: #ebebeb;
    border: 1px solid #e0e0e0;
    box-shadow: none;
}

.kind-secondary:focus {
    background-color: #fcfcfc;
    border: 1px solid #377acf;
    box-shadow: 0 0 0 1px #377acf inset;
}

.kind-secondary:disabled {
    color: #b2b2b2;
    border: 1px solid #e0e0e0;
    background-color: #fcfcfc;
    box-shadow: none;
}

.kind-destructive {
    color: #fff;
    background-color: #b9242b;
    border: 1px solid #960813;
    background: linear-gradient(#c62d34, #ab1a22);
}

.kind-destructive:hover {
    border: 1px solid #960813;
    background-color: #ac0f1a;
    background: linear-gradient(#ac1a22, #ac0615);
}

.kind-destructive:active,
.kind-destructive:active:focus {
    background-color: #ac101b;
    background: linear-gradient(#a5181f, #ac0715);
    border: 1px solid #960813;
    box-shadow: 0 0 0 1px #960813 inset;
}

.kind-destructive:focus {
    background-color: #b72229;
    background: linear-gradient(#c52d34, #ab1a22);
    border: 1px solid #570206;
    box-shadow: 0 0 0 1px #570206 inset;
}

.kind-destructive:disabled {
    color: #fffefe;
    background-color: #e5b5b7;
    background: linear-gradient(#eab8ba, #e1b2b4);
    border: 1px solid #dbabaf;
    box-shadow: none;
}

.dropdown {
    composes: boxmodel from '../mixins-global.css';
    position: relative;
    display: inline-flex;
    white-space: nowrap;
}

.split {
    composes: boxmodel from '../mixins-global.css';
    position: relative;
    display: inline-flex;
    white-space: nowrap;
}

.split .button:first-child {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
.split .button:nth-child(2) {
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 32px;
}

.menu {
    composes: boxmodel from '../mixins-global.css';
    position: absolute;
    z-index: 1000;
    left: 0;
}

.menu.small {
    top: 28px;
}
.menu.medium {
    top: 36px;
}
.menu.large {
    top: 43px;
}

.menu-label {
    margin-right: 10px;
}

/* IE11 hacks */
@media all and (-ms-high-contrast: none) {
    /* 
       Graceful degradation: remove the rounded corners on all buttons apart from circle.
       These are not rendered correctly in IE11, where they produce white pixels in the corners 
    */
    .button {
        border-radius: 0;
    }
    /* Prevent icon position shifting during a click */
    .button .material-icons {
        position: relative;
        top: 0;
        left: 0;
    }
}
