.d2ui-menu {
    padding: 0.5rem 0;
}
.d2ui-menu-item {
    display: flex;
    justify-content: flex-start;
    padding: 0.25rem 1rem 0 1rem;
    transition: background-color 150ms cubic-bezier(0.4, 0, 0.6, 1);
    cursor: pointer;
    min-width: 9.375rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 2.25rem;
    vertical-align: baseline;

    &:hover {
        background-color: #eceff1;
    }

    .material-icons {
        /* To make sure event.target of the click handler is always the list item */
        pointer-events: none;
        line-height: 2rem;
        margin-right: 0.75rem;

        &:last-child {
            margin-left: auto;
            margin-right: 0;
        }
    }

    &--disabled {
        color: rgba(0, 0, 0, 0.3);
        pointer-events: none;

        &:hover {
            background-color: inherit;
        }
    }
}
