@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(./fonts/material-design-icons/MaterialIcons-Regular.eot); /* For IE6-8 */
  src: local('Material Icons'),
       local('MaterialIcons-Regular'),
       url(./fonts/material-design-icons/MaterialIcons-Regular.woff2) format('woff2'),
       url(./fonts/material-design-icons/MaterialIcons-Regular.woff) format('woff'),
       url(./fonts/material-design-icons/MaterialIcons-Regular.ttf) format('truetype');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

/* rubik-300normal - latin */
@font-face {
  font-family: 'Rubik';
  font-style: normal;
  font-display: swap;
  font-weight: 300;
  src:
    local('Rubik Light '),
    local('Rubik-Light'),
    url('./fonts/rubik/files/rubik-latin-300.woff2') format('woff2'), /* Super Modern Browsers */
    url('./fonts/rubik/files/rubik-latin-300.woff') format('woff'); /* Modern Browsers */
}

/* rubik-300italic - latin */
@font-face {
  font-family: 'Rubik';
  font-style: italic;
  font-display: swap;
  font-weight: 300;
  src:
    local('Rubik Light italic'),
    local('Rubik-Lightitalic'),
    url('./fonts/rubik/files/rubik-latin-300italic.woff2') format('woff2'), /* Super Modern Browsers */
    url('./fonts/rubik/files/rubik-latin-300italic.woff') format('woff'); /* Modern Browsers */
}

/* rubik-400normal - latin */
@font-face {
  font-family: 'Rubik';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src:
    local('Rubik Regular '),
    local('Rubik-Regular'),
    url('./fonts/rubik/files/rubik-latin-400.woff2') format('woff2'), /* Super Modern Browsers */
    url('./fonts/rubik/files/rubik-latin-400.woff') format('woff'); /* Modern Browsers */
}

/* rubik-400italic - latin */
@font-face {
  font-family: 'Rubik';
  font-style: italic;
  font-display: swap;
  font-weight: 400;
  src:
    local('Rubik Regular italic'),
    local('Rubik-Regularitalic'),
    url('./fonts/rubik/files/rubik-latin-400italic.woff2') format('woff2'), /* Super Modern Browsers */
    url('./fonts/rubik/files/rubik-latin-400italic.woff') format('woff'); /* Modern Browsers */
}

/* rubik-500normal - latin */
@font-face {
  font-family: 'Rubik';
  font-style: normal;
  font-display: swap;
  font-weight: 500;
  src:
    local('Rubik Medium '),
    local('Rubik-Medium'),
    url('./fonts/rubik/files/rubik-latin-500.woff2') format('woff2'), /* Super Modern Browsers */
    url('./fonts/rubik/files/rubik-latin-500.woff') format('woff'); /* Modern Browsers */
}

/* rubik-500italic - latin */
@font-face {
  font-family: 'Rubik';
  font-style: italic;
  font-display: swap;
  font-weight: 500;
  src:
    local('Rubik Medium italic'),
    local('Rubik-Mediumitalic'),
    url('./fonts/rubik/files/rubik-latin-500italic.woff2') format('woff2'), /* Super Modern Browsers */
    url('./fonts/rubik/files/rubik-latin-500italic.woff') format('woff'); /* Modern Browsers */
}

/* rubik-700normal - latin */
@font-face {
  font-family: 'Rubik';
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src:
    local('Rubik Bold '),
    local('Rubik-Bold'),
    url('./fonts/rubik/files/rubik-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
    url('./fonts/rubik/files/rubik-latin-700.woff') format('woff'); /* Modern Browsers */
}

/* rubik-700italic - latin */
@font-face {
  font-family: 'Rubik';
  font-style: italic;
  font-display: swap;
  font-weight: 700;
  src:
    local('Rubik Bold italic'),
    local('Rubik-Bolditalic'),
    url('./fonts/rubik/files/rubik-latin-700italic.woff2') format('woff2'), /* Super Modern Browsers */
    url('./fonts/rubik/files/rubik-latin-700italic.woff') format('woff'); /* Modern Browsers */
}

/* rubik-900normal - latin */
@font-face {
  font-family: 'Rubik';
  font-style: normal;
  font-display: swap;
  font-weight: 900;
  src:
    local('Rubik Black '),
    local('Rubik-Black'),
    url('./fonts/rubik/files/rubik-latin-900.woff2') format('woff2'), /* Super Modern Browsers */
    url('./fonts/rubik/files/rubik-latin-900.woff') format('woff'); /* Modern Browsers */
}

/* rubik-900italic - latin */
@font-face {
  font-family: 'Rubik';
  font-style: italic;
  font-display: swap;
  font-weight: 900;
  src:
    local('Rubik Black italic'),
    local('Rubik-Blackitalic'),
    url('./fonts/rubik/files/rubik-latin-900italic.woff2') format('woff2'), /* Super Modern Browsers */
    url('./fonts/rubik/files/rubik-latin-900italic.woff') format('woff'); /* Modern Browsers */
}

