body {
    /* BASE COLOR SYSTEM */
    .accent-primary {
        &-color {
            color: #1976d2;
        }
        &-background {
            background-color: #1976d2;
        }
    }
    .accent-primary-light {
        &-color {
            color: #63a4ff;
        }
        &-background {
            background-color: #63a4ff;
        }
    }
    .accent-primary-dark {
        &-color {
            color: #004ba0;
        }
        &-background {
            background-color: #004ba0;
        }
    }
    .accent-primary-lightest {
        &-color {
            color: #eaf4ff;
        }
        &-background {
            background-color: #eaf4ff;
        }
    }
    .accent-secondary {
        &-color {
            color: #00796b;
        }
        &-background {
            background-color: #00796b;
        }
    }
    .accent-secondary-light {
        &-color {
            color: #48a999;
        }
        &-background {
            background-color: #48a999;
        }
    }
    .accent-secondary-dark {
        &-color {
            color: #004c40;
        }
        &-background {
            background-color: #004c40;
        }
    }
    .accent-secondary-lightest {
        &-color {
            color: #b2dfdb;
        }
        &-background {
            background-color: #b2dfdb;
        }
    }
    .black {
        &-color {
            color: #000000;
        }
        &-background {
            background-color: #000000;
        }
    }
    .grey-dark {
        &-color {
            color: #494949;
        }
        &-background {
            background-color: #494949;
        }
    }
    .grey {
        &-color {
            color: #9e9e9e;
        }
        &-background {
            background-color: #9e9e9e;
        }
    }
    .grey-light {
        &-color {
            color: #e0e0e0;
        }
        &-background {
            background-color: #e0e0e0;
        }
    }
    /* 'blue-grey' in spec */
    .grey-lighter {
        &-color {
            color: #eceff1;
        }
        &-background {
            background-color: #eceff1;
        }
    }
    /* 'snow' in spec */
    .grey-lightest {
        &-color {
            color: #f4f6f8;
        }
        &-background {
            background-color: #f4f6f8;
        }
    }
    /* undefined in spec */
    .white {
        &-color {
            color: #ffffff;
        }
        &-background {
            background-color: #ffffff;
        }
    }
    /* 'negative' in spec */
    .error {
        &-color {
            color: #e53935;
        }
        &-background {
            background-color: #e53935;
        }
    }
    .warning {
        &-color {
            color: #e59635;
        }
        &-background {
            background-color: #e59635;
        }
    }
    .positive {
        &-color {
            color: #3d9305;
        }
        &-background {
            background-color: #3d9305;
        }
    }
    .info {
        &-color {
            color: #eaf4ff;
        }
        &-background {
            background-color: #eaf4ff;
        }
    }
    a {
        color: #004ba0;

        &:link {
            color: #004ba0;
        }

        &:visited {
            color: #1976d2;
        }

        &:focus,
        &:active {
            background-color: #eceff1;
        }
    }
}
