/********************************************************************************
 * An implementation of the Type Scale grid found on the Material Design pages  *
 * https://material.io/design/typography/the-type-system.html#type-scale        *
 * Font sizes and letter spacing are all expressed in "rem". The "rem" values   *
 * have been calculated by multiplying the value in the grid by 0.0625          *
 * Font-weights were converted like this:                                       *
 *  - Light:   300                                                              *
 *  - Regular: 400                                                              *
 *  - Medium:  500                                                              *
 *******************************************************************************/

body,
.primary-text {
    font-size: 1rem;
    line-height: 1.5rem;
    font-weight: 400;
    letter-spacing: 0.03125em;
}

.secondary-text {
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-weight: 400;
    letter-spacing: 0.01786em;
}

.subtitle-primary {
    font-size: 1rem;
    line-height: 1.75rem;
    font-weight: 400;
    letter-spacing: 0.00937em;
}

.subtitle-secondary {
    font-size: 0.875rem;
    line-height: 1.375rem;
    font-weight: 500;
    letter-spacing: 0.00714em;
}

.overline {
    font-size: 0.75rem;
    line-height: 2rem;
    font-weight: 500;
    letter-spacing: 0.16667em;
    text-decoration: none;
    text-transform: uppercase;
}

h1 {
    font-size: 6rem;
    line-height: 6rem;
    font-weight: 300;
    letter-spacing: -0.01562em;
}

h2 {
    font-size: 3.75rem;
    line-height: 3.75rem;
    font-weight: 300;
    letter-spacing: -0.00833em;
}

h3 {
    font-size: 3rem;
    line-height: 3.125rem;
    font-weight: 400;
    letter-spacing: normal;
}

h4 {
    font-size: 2.125rem;
    line-height: 2.5rem;
    font-weight: 400;
    letter-spacing: 0.00735em;
}

h5 {
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: 400;
    letter-spacing: normal;
}

h6 {
    font-size: 1.25rem;
    line-height: 2rem;
    font-weight: 500;
    letter-spacing: 0.0125em;
}

caption {
    font-size: 0.75rem;
    line-height: 1.25rem;
    font-weight: 400;
    letter-spacing: 0.03333em;
}

a {
    text-decoration: none;

    &:link,
    &:visited {
        text-decoration: none;
    }

    &:hover,
    &:focus,
    &:active {
        text-decoration: underline;
    }

    &:focus,
    &:active {
        outline: none;
    }
}
