.base {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    cursor: pointer;
    pointer-events: all;
    user-select: none;
}

.base input[type='checkbox'] {
    display: none;
}

.icon {
    pointer-events: none;
    user-select: none;
}

.label {
    margin: 0 0 0 8px;
    color: var(--solid);
    cursor: pointer;
}

.disabled,
.disabled .label {
    cursor: not-allowed;
}

.required:after {
    padding-left: 4px;
    content: '*';
}

.valid,
.valid-icon {
    color: var(--valid);
}

.warning,
.warning-icon {
    color: var(--warning);
}

.error,
.error-icon {
    color: var(--error);
}

.default-icon {
    color: var(--secondary-light);
}

.disabled {
    color: var(--grey-light);
}
