:root {
    --idle: #c4c4c4;
    --solid: #494949;
    --default: #00796b;
    --valid: #1976d2;
    --warning: #f19c02;
    --error: #e53935;
    --secondary-light: #48a999;
    --grey-light: #e0e0e0;
}

.reset {
    all: initial;
    box-sizing: border-box;
    font-family: Roboto, sans-serif /*rtl:prepend:"Noto Naskh Arabic",*/;
}
.base {
    pointer-events: all;
    user-select: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    cursor: pointer;
}

.base input[type='checkbox'] {
    display: none;
}

.icon {
    pointer-events: none;
    user-select: none;
}

.label {
    margin: 0 0 0 8px;
    color: var(--solid);
}

.disabled,
.base .disabled {
    cursor: not-allowed;
}

.required:after {
    content: '*';
    padding-left: 4px;
}

.valid,
.valid-icon {
    color: var(--valid);
}

.warning,
.warning-icon {
    color: var(--warning);
}

.error,
.error-icon {
    color: var(--error);
}

.default-icon {
    color: var(--secondary-light);
}

.disabled {
    color: var(--grey-light);
}
