/* rtl:begin:ignore */
.d2ui-circular-progress {
    display: inline-block;
    color: #1976d2;
    line-height: 1;
    margin: 1rem;
    animation: d2ui-circular-progress-rotate 1.4s linear infinite;

    &--small {
        width: 1.5rem;
        height: 1.5rem;
    }

    &--medium {
        width: 3.125rem;
        height: 3.125rem;
    }

    &--large {
        width: 5rem;
        height: 5rem;
    }

    &__circle {
        stroke: currentColor;
        animation: d2ui-circular-progress-dash 1.4s ease-in-out infinite;
        stroke-dasharray: 80px, 200px;
        stroke-dashoffset: 0px;
    }

    &__overlay {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

@keyframes d2ui-circular-progress-rotate {
    100% {
        transform: rotate(360deg);
    }
}

@keyframes d2ui-circular-progress-dash {
    0% {
        stroke-dasharray: 1px, 200px;
        stroke-dashoffset: 0px;
    }
    50% {
        stroke-dasharray: 100px, 200px;
        stroke-dashoffset: -15px;
    }
    100% {
        stroke-dasharray: 100px, 200px;
        stroke-dashoffset: -120px;
    }
}
/* rtl:end:ignore */
