.container {
    z-index: -1;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    border-radius: 5px;
}

.border-none {
    border: 1px hidden transparent;
    background-color: rgba(0, 0, 10, 0.05);
}
.border-solid {
    border: 1px solid #c4c4c4;
}
.border-dashed {
    border: 1px dashed #c4c4c4;
}

.content {
    position: absolute;
    left: 14px;
    transition: all 0.1s;
    background-color: transparent;
}

.has-icon .content {
    left: 40px;
}
.has-icon.size-minimized .content {
    left: 14px;
}

.size-default {
    font-size: 16px;
}
.size-minimized .content {
    background-color: #fff;
    font-size: 12px;
    height: 12px;
    line-height: 12px;
    top: -6px;
}
.border-none .content {
    background-color: transparent;
}

.container.status-default {
    border-color: #c4c4c4;
}
.container.status-valid {
    border-color: #1976d2;
}
.container.status-error {
    border-color: #e53935;
}
.container.status-warning {
    border-color: #f19c02;
}
