.reset {
    all: initial;
    box-sizing: border-box;
    font-family: Roboto, sans-serif /*rtl:prepend:"Noto Naskh Arabic",*/;
}

.base {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    color: inherit;
    border-radius: inherit;
    padding-left: 8px;
    line-height: 16px;
}

.size-default .content {
    top: 4px;
}

.size-dense .content {
    top: 0px;
}

.kind-outlined.size-default .content {
    top: 8px;
}

.content {
    pointer-events: none;
    position: absolute;
    transition: all 0.1s;
    white-space: nowrap;
    color: #494949;
}

.state-default {
    font-size: 16px;
    line-height: 16px;
}

.state-minimized .content {
    height: 12px;
    line-height: 12px;
    font-size: 12px;
}

.kind-filled.state-minimized .content {
    top: -12px;
    color: inherit;
}

.kind-outlined.state-minimized .content {
    top: -12px;
    padding: 0 4px;
    color: inherit;
}

.kind-outlined .icon {
    top: 4px;
}

.has-icon .content {
    left: 32px;
}

.state-minimized.has-icon .content {
    left: 12px;
}

.icon {
    pointer-events: none;
    position: absolute;
    right: 8px;
    color: inherit;
}

.kind-outlined.size-dense .icon {
    top: -2px;
}
.kind-filled.size-dense .icon {
    top: -6px;
}

.disabled {
    cursor: not-allowed;
    color: #9e9e9e;
}

.kind-outlined {
    border: 1px solid #c4c4c4;
    border-radius: 5px;
}

.kind-outlined:hover {
    border: 1.5px solid #494949;
}

.kind-outlined.focused {
    border: 1.5px solid #00796b;
}

.disabled.kind-outlined,
.disabled.kind-outlined:hover {
    color: #9e9e9e;
    border: 1px solid #c4c4c4;
}
