.base {
    position: relative;
    display: inline-flex;
    white-space: nowrap;
}

.base button:first-child {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.base button:nth-child(2) {
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    padding: 0 9px;
}

.menu {
    position: absolute;
    z-index: 1000;
    left: 0;
    top: 36px;
}

.menu-icon {
    color: inherit;
    pointer-events: none;
    vertical-align: middle;
    font-size: 16px;
}
