.reset {
    all: initial;
    box-sizing: border-box;
    font-family: Roboto, sans-serif /*rtl:prepend:"Noto Naskh Arabic",*/;
}

.base {
    position: relative;
    display: inline-block;
    pointer-events: all;
    user-select: none;
    cursor: pointer;
    width: 100%;
    background-color: inherit;
}

.field {
    display: flex;
    background-color: inherit;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border-radius: 5px;
}

.size-default,
.size-default .field {
    height: 56px;
}

.size-dense,
.size-dense .field {
    height: 44px;
}

.input {
    border: 0;
    width: 100%;
    color: #000;
    background-color: transparent;
}

.input:focus {
    outline: none;
}
.input::placeholder {
    color: #494949;
    opacity: 1;
}

.size-default .input {
    height: 16px;
    line-height: 16px;
    font-size: 16px;
}

.size-dense .input {
    height: 13px;
    line-height: 13px;
    font-size: 13px;
    font-weight: 300;
}

.kind-filled {
    background-color: rgba(0, 0, 10, 0.05);
    border-bottom: 2px solid transparent;
}

.kind-filled:hover {
    background-color: rgba(0, 0, 10, 0.08);
}

.kind-filled.focused {
    background-color: rgba(0, 0, 10, 0.08);
    border-bottom: 2px solid #00796b;
}

.icon {
    color: #494949;
    height: 24px;
    width: 24px;
    margin-right: 8px;
}

.kind-outlined {
    background-color: inherit;
    border: 1px solid #c4c4c4;
    border-radius: 5px;
}

.kind-outlined:hover {
    border: 1.5px solid #494949;
}

.kind-outlined.focused {
    border: 1.5px solid #00796b;
}

.value {
    height: 24px;
}

.menu {
    position: absolute;
    z-index: 1000;
    left: 0;
    top: 44px;
}

.kind-outlined.size-default {
    padding: 20px 16px;
}

.kind-outlined.size-dense {
    padding: 14px 16px;
}

.kind-filled.size-default {
    padding: 30px 16px 10px 16px;
}

.kind-filled.size-dense {
    padding: 22px 11px 8px 11px;
}

/* status */
.disabled,
.disabled::placeholder {
    cursor: not-allowed;
    color: #9e9e9e;
    opacity: 1;
}

.status-default,
.status-default .content {
    color: #00796b;
}
.status-valid,
.status-valid.focused,
.status-valid .content {
    color: #1976d2;
    border-color: #1976d2;
}

.status-error,
.status-error.focused,
.status-error .content {
    color: #e53935;
    border-color: #e53935;
}

.status-warning,
.status-warning.focused,
.status-warning .content {
    color: #f19c02;
    border-color: #f19c02;
}
