.reset {
    all: initial;
    box-sizing: border-box;
    font-family: Roboto, sans-serif /*rtl:prepend:"Noto Naskh Arabic",*/;
}

.base {
    position: relative;
    color: #494949;
    display: inline-block;
    width: 100%;
}

.field {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-left: 8px;
}

.icon {
    margin: 0 8px 0 0;
}

.help {
    cursor: help;
    padding-left: 14px;
    height: 12px;
    line-height: 12px;
    color: #494949;
    font-size: 12px;
}

.field input {
    height: 100%;
    width: 100%;
}

.field fieldset {
    padding-left: 8px;
    position: absolute;

    top: -8px;
    bottom: 0;
    left: 0;
    right: 0;

    border-radius: 5px;
    border-width: 1px;
    border-style: solid;
    border-color: inherit;

    pointer-events: none;
}

.kind-outlined .field.focused fieldset {
    border-width: 1.5px;
}

.kind-outlined .field.filled fieldset {
    border-width: 1.5px;
}

.kind-outlined .field.filled:hover fieldset,
.kind-outlined .field.filled:hover fieldset,
.kind-outlined .field:hover fieldset {
    border-width: 1px;
    border-color: #494949;
}

.size-default {
    height: 56px;
}

.size-dense {
    height: 44px;
}

.empty.status-default,
.filled.status-default,
.status-default {
    color: #c4c4c4;
    border-color: #c4c4c4;
}

.focused.status-default,
.focused.filled.status-default,
.status-default {
    color: #00796b;
    border-color: #00796b;
}

.focused.status-valid,
.status-valid {
    color: #1976d2;
    border-color: #1976d2;
}

.focused.status-error,
.status-error {
    color: #e53935;
    border-color: #e53935;
}

.focused.status-warning,
.status-warning {
    color: #f19c02;
    border-color: #f19c02;
}

.kind-filled .field {
    background-color: rgba(0, 0, 10, 0.05);
    border-bottom: 2px solid transparent;
    border-radius: 5px;
}

.kind-filled .field:hover,
.focused.kind-filled .field {
    background-color: rgba(0, 0, 10, 0.08);
    border-bottom: 2px solid;
}

.kind-filled input {
    padding-top: 14px;
}

.base label {
    pointer-events: none;
    position: absolute;
    white-space: nowrap;

    display: block;
    color: #494949;
}

.kind-filled label {
    transition: all 0.1s;
    transform-origin: top left;
    transform: translate(14px, 25px) scale(1);
}

.kind-filled label.label-size-dense {
    transform: translate(14px, 15px) scale(1);
}

.kind-filled label.focused {
    transform: translate(14px, 6px) scale(0.75);
}

.kind-filled label.focused.label-size-dense {
    transform: translate(14px, 2px) scale(0.75);
}

.kind-filled label.has-icon {
    left: 24px;
}

.kind-filled.focused label.has-icon {
    left: 24px;
}

.kind-outlined label {
    transition: all 0.1s;
    transform-origin: top left;
    transform: translate(14px, 17px) scale(1);
}

.kind-outlined label.label-size-dense {
    transform: translate(14px, 12px) scale(1);
}

.kind-outlined label.focused {
    transform: translate(14px, -6px) scale(0.75);
}

.kind-outlined label.focused.label-size-dense {
    transform: translate(14px, -6px) scale(0.75);
}

.kind-outlined label.has-icon {
    left: 24px;
}

.kind-outlined label.focused.has-icon {
    left: 0px;
}

.disabled.kind-filled label,
.disabled.kind-filled .field {
    background-color: rgba(0, 0, 10, 0.02);
    border: 2px solid transparent;
    color: #9e9e9e;
}

.disabled.kind-filled label {
    background-color: transparent;
}

.disabled.kind-outlined .field fieldset {
    border: 1px solid rgba(196, 196, 196, 0.2);
}

.disabled.kind-outlined label {
    color: #9e9e9e;
}

.disabled,
.disabled::placeholder {
    cursor: not-allowed;
    color: #9e9e9e;
}
