.boxmodel {
    box-sizing: border-box;
    margin: 0 /* rtl:ignore */;
    padding: 0 /* rtl:ignore */;
    border: 0 /* rtl:ignore */;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
