.d2ui-button {
    align-items: center;
    background-color: transparent;
    border: 1px solid transparent;
    border-radius: 0.125rem;
    cursor: pointer;
    display: inline-flex;
    font-size: 0.8125rem;
    font-weight: 500;
    justify-content: center;
    letter-spacing: 0.02875rem;
    line-height: 0.9375rem;
    /* Reduced padding by 1px to compensate for the added border width */
    padding: 0.5625rem 0.9375rem 0.625rem 0.9375rem;
    position: relative;
    text-decoration: none;
    text-transform: uppercase;
    transition: all 0.15s cubic-bezier(0.4, 0, 0.6, 1);
    transition-property: background-color, box-shadow, border-color, color;
    vertical-align: middle;

    /* To make sure event.target of the click handler is always the button, 
       span and icon get pointer-events: none */
    span {
        pointer-events: none;
        transform: translateY(2px);
    }

    /* STATES */
    &:disabled,
    &.disabled {
        cursor: not-allowed;
    }

    &:focus {
        /* Prevent default browser behavior whcih adds an outline */
        outline: none;
    }

    /* VARIANTS */
    &--outlined,
    &--circle {
        border-width: 2px;
        /* Reduced padding by 2px to compensate for the added border width */
        padding: 0.5rem 0.875rem 0.5625rem 0.875rem;
    }

    &--primary,
    &--raised,
    &--circle {
        box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.14), 0 2px 2px 0 rgba(0, 0, 0, 0.12),
            0 1px 3px 0 rgba(0, 0, 0, 0.2);

        &:disabled,
        &.disabled {
            box-shadow: none;
        }
    }

    &--circle {
        padding: 0.5625rem 0.5625rem 0.625rem 0.5625rem;
        height: 2.25rem;
        width: 2.25rem;
        border-radius: 50%;
        padding: 0;
    }

    /* SIZES */
    &--small {
        font-size: 0.75rem;
        padding: 0.5rem 0.875rem 0.5625rem 0.875rem;

        .material-icons {
            line-height: 0.875rem;
            height: 0.875rem;
            width: 1.4375rem;

            &:first-child {
                margin-right: 0.6875rem;
            }

            &:last-child {
                margin-left: 0.6875rem;
            }
        }

        /* Nesting modifiers not supported in postCSS */
        &.d2ui-button--circle {
            height: 1.875rem;
            width: 1.875rem;

            .material-icons {
                margin: 0;
                line-height: 0.625rem;
            }
        }
    }
    &--medium span {
        transform: translateY(1px);
    }
    &--large {
        font-size: 0.9375rem;
        padding: 0.625rem 1rem 0.6875rem 1rem;
        align-items: center;

        .material-icons {
            line-height: 1rem;
            height: 1rem;
            width: 1.5625rem;

            &:first-child {
                margin-right: 0.8125rem;
            }

            &:last-child {
                margin-left: 0.8125rem;
            }
        }

        /* Nesting modifiers not supported in postCSS */
        &.d2ui-button--circle {
            height: 3.5rem;
            width: 3.5rem;

            .material-icons {
                margin: 0;
            }
        }
    }

    /* COLORS */
    &--flat {
        color: #004ba0;

        &:hover {
            background-color: rgba(234, 244, 255, 0.4);
        }
        &:active {
            background-color: #eaf4ff;
        }
        &:focus {
            background-color: #ffffff;
            border: 1px solid #004ba0;
        }
        &:disabled {
            background-color: transparent;
            color: #9e9e9e;
        }
    }
    &--raised {
        color: #004ba0;
        background-color: #ffffff;

        &:hover {
            background-color: rgba(234, 244, 255, 0.4);
        }
        &:active {
            background-color: #eaf4ff;
        }
        &:focus {
            background-color: rgba(234, 244, 255, 0.4);
            border: 1px solid rgba(0, 75, 160, 0.8);
        }
        &:disabled,
        &.disabled {
            background-color: rgba(153, 153, 153, 0.1);
            color: rgba(0, 75, 160, 0.5);
        }
    }
    &--primary {
        color: #ffffff;
        background-color: #004ba0;

        &:hover {
            background-color: #1976d2;
        }
        &:active {
            background-color: #033976;
        }
        &:focus {
            background-color: #004ba0;
            border: 1px solid #63a4ff;
        }
        &:disabled,
        &.disabled {
            background-color: #e3f2fd;
            color: #9e9e9e;
        }
    }

    &--outlined {
        color: #004ba0;
        background-color: #f8f8f8;
        border: 2px solid rgba(0, 75, 160, 0.8);

        &:hover,
        &:focus {
            background-color: rgba(234, 244, 255, 0.4);
        }
        &:active {
            background-color: #eaf4ff;
        }
        &:disabled {
            background-color: rgba(153, 153, 153, 0.1);
            color: rgba(0, 75, 160, 0.5);
            border: 2px solid rgba(0, 75, 160, 0.5);
        }
    }
    &--circle {
        color: #ffffff;
        background-color: #61a799;

        &:hover {
            background-color: #31776b;
        }
        &:active {
            background-color: #1c4b40;
        }
        &:focus {
            background-color: #31776b;
            border: 2px solid #54c0a4;
        }
        &:disabled {
            background-color: #badedb;
        }
    }
}
.d2ui-dropdown-button {
    display: inline-flex;

    .d2ui-button {
        &:first-child {
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;
        }
        &:nth-child(2) {
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;
            padding-left: 0.5625rem;
            padding-right: 0.5625rem;
        }

        /* Use hover color for dropdown section of the dropdownbutton */
        &--raised:nth-child(2):focus {
            border: 1px solid rgba(234, 244, 255, 0.4);
            background-color: rgba(234, 244, 255, 0.4);
        }
        &--primary:nth-child(2):focus {
            border: 1px solid #033976;
            background-color: #033976;
        }
    }
}
/* IE11 hacks */
@media all and (-ms-high-contrast: none) {
    /* Graceful degradation: remove the rounded corners on all buttons apart from circle.
       These are not rendered correctly in IE11, where they produce white pixels in the corners  */
    .d2ui-button {
        border-radius: 0;

        &--circle {
            border-radius: 50%;
        }
    }
    /* Aligns the icons in small icon buttons, which were way off */
    .d2ui-button--circle.d2ui-button--small .material-icons {
        transform: translateX(-12px) translateY(2px);
    }
    /* And large button which was 1px off */
    .d2ui-button--circle.d2ui-button--large .material-icons {
        transform: translateX(-1px);
    }
    /* Fixes the circle button white px on edge */
    .d2ui-button--circle {
        border-color: #61a799;
    }

    /* Prevent icon position shifting during a click */
    .d2ui-button .material-icons {
        position: relative;
        top: 0;
        left: 0;
    }
}
