{
    "plugins": [
        "@babel/plugin-proposal-class-properties",
        "@babel/plugin-proposal-object-rest-spread",
        "@babel/plugin-transform-react-constant-elements",
        "styled-jsx/babel"
    ]
}
