/** @format */

:global .blue .primary {
    color: #1976d2;
}
:global .blue .primary-bg {
    background-color: #1976d2;
}
:global .blue .primary-light-color {
    color: #63a4ff;
}
:global .blue .primary-light-bg {
    background-color: #63a4ff;
}
:global .blue .primary-dark-color {
    color: #004ba0;
}
:global .blue .primary-dark-bg {
    background-color: #004ba0;
}
:global .blue .primary-lightest-color {
    color: #eaf4ff;
}
:global .blue .primary-lightest-bg {
    background-color: #eaf4ff;
}
:global .blue .secondary-color {
    color: #00796b;
}
:global .blue .secondary-color-bg {
    background-color: #00796b;
}
:global .blue .secondary-light-color {
    color: #48a999;
}
:global .blue .secondary-light-bg {
    background-color: #48a999;
}
:global .blue .secondary-dark-color {
    color: #004c40;
}
:global .blue .secondary-dark-bg {
    background-color: #004c40;
}
:global .blue .secondary-lightest-color {
    color: #b2dfdb;
}
:global .blue .secondary-lightest-bg {
    background-color: #b2dfdb;
}
:global .blue .black-color {
    color: #000;
}
:global .blue .black-bg {
    background-color: #000;
}
:global .blue .grey-dark-color {
    color: #494949;
}
:global .blue .grey-dark-bg {
    background-color: #494949;
}
:global .blue .grey-color {
    color: #9e9e9e;
}
:global .blue .grey-bg {
    background-color: #9e9e9e;
}
:global .blue .grey-light-color {
    color: #e0e0e0;
}
:global .blue .grey-light-bg {
    background-color: #e0e0e0;
}
:global .blue .grey-lighter-color {
    color: #eceff1;
}
:global .blue .grey-lighter-bg {
    background-color: #eceff1;
}
:global .blue .grey-lightest-color {
    color: #f4f6f8;
}
:global .blue .grey-lightest-bg {
    background-color: #f4f6f8;
}
:global .blue .white-color {
    color: #fff;
}
:global .blue .white-bg {
    background-color: #fff;
}
:global .blue .error-color {
    color: #e53935;
}
:global .blue .error-bg {
    background-color: #e53935;
}
:global .blue .warning-color {
    color: #e59635;
}
:global .blue .warning-bg {
    background-color: #e59635;
}
:global .blue .positive-color {
    color: #3d9305;
}
:global .blue .positive-bg {
    background-color: #3d9305;
}
:global .blue .info-color {
    color: #eaf4ff;
}
:global .blue .info-bg {
    background-color: #eaf4ff;
}
:global .blue a {
    color: #004ba0;
}
:global .blue a:link {
    color: #004ba0;
}
:global .blue a:visited {
    color: #1976d2;
}
:global .blue a:focus,
:global .blue a:active {
    background-color: #eceff1;
}
