@import url('https://fonts.googleapis.com/css?family=Rubik:400,500');

body,
div {
    /*
        we don't want dev's to copy text/code from example app
        except for places we designate place to copy code from
    */
    user-select: none;
    box-sizing: border-box;
    font-size: 14px;
    line-height: 17px;
    font-weight: 400;
    font-family: Rubik, sans-serif;
    color: #0d0d0e;
}
a {
    cursor: pointer;
    color: #0d0d0e;
    text-decoration: none;
}

.container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.sidebar {
    padding-left: 20px;
    min-width: 202px;
    background-color: #fff;
}

.logo {
    padding-top: 20px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.logo svg {
    width: 100px;
    height: 30px;
}
.logo .slogan {
    margin-top: 16px;
    font-size: 16px;
    line-height: 19px;
}

.menu > ul {
    margin-top: 67px;
}
.menu > ul a {
    display: block;
    margin-bottom: 15px;
}
.menu > ul > li > a {
    font-weight: 500;
}
.menu > ul > li > ul {
    margin-left: 8px;
}
.menu > ul > li > ul > li > ul {
    margin-left: 16px;
}

.content {
    padding: 0 0 60px 60px;
    width: 100%;
    border-left: 1px solid #e0e0e0;
}
.content section {
}
.content article {
}

.title {
    margin: 64px 0 56px 0;
    color: #0d0d0e;
    font-size: 30px;
    line-height: 36px;
}
.heading {
    margin: 60px 0 40px 0;
    color: #0d0d0e;
    font-size: 24px;
    line-height: 28px;
}
.text {
    margin: 12px 0;
}
