.base {
    composes: boxmodel font from '../mixins/globals.css';

    position: relative;
}
.base.disabled {
    cursor: not-allowed;
}
.base.disabled .icon,
.base.disabled .dropdown-icon {
    color: rgba(0, 0, 0, 0.3);
}

.icon {
    position: absolute;
    top: 0px;
    bottom: 0px;
    margin: auto;
    left: 7px;
    height: 24px;
}

.dropdown-icon {
    position: absolute;
    top: 0px;
    bottom: 0px;
    margin: auto;
    right: 7px;
    height: 24px;
}

.select {
    position: relative;
    margin-bottom: 8px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    user-select: none;
}

.base.size-default {
    height: 68px;
}
.base.size-dense {
    height: 56px;
}

.base.size-default .select {
    height: 56px;
}
.base.size-dense .select {
    height: 44px;
}

.value {
    color: #000;
    font-size: 16px;
}
.base.kind-filled .value {
    margin-left: 14px;
}
.base.kind-outlined .value {
    margin-left: 20px;
}
.base.selected.kind-filled.size-dense .select .value {
    margin-top: 17px;
    font-size: 13px;
}
.base.selected.kind-filled.size-default .select .value {
    margin-top: 15px;
}

/* icon in filled bg, default size */
.base.selected.kind-filled.size-default .icon {
    margin: 11px 4px 0 14px;
}
.base.selected.kind-filled.size-dense .icon {
    margin: 22px 3px 0 10px;
}
.base.kind-filled .icon + .value,
.base.kind-outlined .icon + .value {
    margin-left: 0;
}
.base.selected.kind-filled.size-dense .icon i {
    font-size: 18px;
}

.menu {
    position: relative;
    z-index: 1000;
    left: 0;
    top: -20px;
    right: 0;
    bottom: 0;
}
