.reset {
    all: initial;
    box-sizing: border-box;
    font-family: Roboto, sans-serif /*rtl:prepend:"Noto Naskh Arabic",*/;
}

.base {
    position: relative;
    display: inline-block;
    pointer-events: all;
    user-select: none;
    cursor: pointer;
    width: 100%;
    background-color: inherit;
}

.disabled {
    cursor: not-allowed;
}
.disabled .icon,
.disabled .dropdown-icon {
    color: rgba(0, 0, 0, 0.3);
}

.icon {
    position: absolute;
    bottom: 8px;
    margin: auto;
    left: 7px;
    height: 24px;
}

.dropdown-icon {
    position: absolute;
    top: 0px;
    bottom: 0px;
    margin: auto;
    right: 7px;
    height: 24px;
}

.select {
    position: relative;
    margin-bottom: 8px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    user-select: none;
    border-radius: 5px;
}

.size-default {
    height: 68px;
}
.size-dense {
    height: 56px;
}

.size-default .select {
    height: 56px;
}
.size-dense .select {
    height: 44px;
}

.value {
    color: #000;
    font-size: 16px;
}
.kind-filled .value {
    margin-left: 14px;
}
.kind-outlined .value {
    margin-left: 20px;
}
.selected.kind-filled.size-dense .select .value {
    margin-top: 17px;
    font-size: 13px;
}
.selected.kind-filled.size-default .select .value {
    margin-top: 15px;
}

/* icon in filled bg, default size */
.selected.kind-filled.size-default .icon {
    margin: 11px 4px 0 14px;
}
.selected.kind-filled.size-dense .icon {
    margin: 22px 3px 0 10px;
}
.kind-filled .icon + .value,
.kind-outlined .icon + .value {
    margin-left: 0;
}
.selected.kind-filled.size-dense .icon i {
    font-size: 18px;
}

.kind-filled {
    background-color: rgba(0, 0, 10, 0.05);
    border-bottom: 2px solid transparent;
}

.kind-filled:hover {
    background-color: rgba(0, 0, 10, 0.08);
}

.kind-filled.focused {
    background-color: rgba(0, 0, 10, 0.08);
    border-bottom: 2px solid #00796b;
}

.kind-outlined {
    background-color: inherit;
    border: 1px solid #c4c4c4;
    border-radius: 5px;
}

.kind-outlined:hover {
    border: 1.5px solid #494949;
}

.kind-outlined.focused {
    border: 1.5px solid #00796b;
}

.menu {
    position: absolute;
    z-index: 1000;
    left: 0;
}

.size-default .menu {
    top: 56px;
}

.size-dense .menu {
    top: 44px;
}
