.base {
    width: 100%;

    padding: 8px 0;
    display: block;
    position: relative;
    user-select: none;
    margin: 0;
}

.item {
    cursor: pointer;
    padding: 0 24px;
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 48px;
}

.item:hover,
.item.active {
    background-color: #f7f7f7;
}

.base.dense .item {
    height: 32px;
}

.label {
    white-space: nowrap;

    user-select: none;
    pointer-events: none;

    color: rgba(0, 0, 0, 0.87);
    font-size: 15px;
}
.base.dense .label {
    font-size: 13px;
}

.icon {
    user-select: none;
    pointer-events: none;
    box-sizing: border-box;

    margin-right: 18px;
    color: #404040;
    font-size: 24px;
}

.base.dense .icon {
    font-size: 20px;
}

.base.dense .divider {
    margin: 4px 0;
}

.item.disabled {
    cursor: not-allowed;
    user-select: none;
    pointer-events: none;
}

.item.disabled .icon,
.item.disabled .label {
    color: rgba(0, 0, 0, 0.3);
}

/* SUB-MENU */
.sub-chevron {
    user-select: none;
    pointer-events: none;
    margin: 0 -14px 0 auto;
    font-size: 18px;
}

.sub-menu {
    display: none;
    position: absolute;
    left: 100%;
    top: 0;
    white-space: nowrap;
}

.item:hover .sub-menu {
    display: block;
}
