.ul {
    user-select: none;
    display: flex;
    flex-direction: column;
}
.ul.dense {
}

.li {
    cursor: pointer;
    padding: 0 0 0 24px;
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 48px;
}
.ul.dense .li {
    height: 32px;
}

.label {
    color: rgba(0, 0, 0, 0.87);
    font-size: 15px;
}
ul.dense .label {
    font-size: 13px;
}

.icon {
    margin-right: 18px;
    color: #0d0d0e;
    font-size: 24px;
}
.ul.dense .icon {
    font-size: 20px;
}

.divider {
    margin: 8px 0;
    width: 100%;
    height: 1px;
    background-color: #e0e0e0;
}
ul.dense .divider {
    margin: 4px 0;
}

li.disabled {
    color: rgba(0, 0, 0, 0.3);
    pointer-events: none;
}
