.container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 48px;
    border-bottom: 1px solid rgba(32, 32, 32, 0.15);
}

.first {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.logo {
    margin: 0 12px 0 0;
    border-right: 1px solid rgba(32, 32, 32, 0.15);
    padding-top: 12px;
    width: 48px;
    height: 48px;
    text-align: center;
}
.logo svg {
    width: 27px;
    height: 25px;
}

.title {
    color: #000;
    width: 178px;
    overflow: hidden;
    white-space: nowrap;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 0.01em;
}

.current-selection {
    font-weight: 400;
    font-size: 14px;
    margin-right: 64px;
}
.current-selection:empty {
    display: none;
}

.last {
    user-select: none;
    margin-left: auto;
    display: flex;
    flex-direction: row;
}

.notification {
    cursor: pointer;
    position: relative;
    margin: 8px 24px 0 0;
}
.notification .message {
    margin-top: 10px;
}

.notification .email {
    margin-right: 0;
}

.notification > .count {
    z-index: 1;
    position: absolute;
    right: -10px;
    top: -6px;
    font-size: 9px;
    font-weight: 500;
    width: 16px;
    height: 16px;
    line-height: 16px;
    text-align: center;
    border-radius: 50%;
    color: #fff;
}

.notification > .count i {
    width: 20px;
    height: 20px;
}

.apps {
    position: relative;
    margin: 8px 0 0 0;
    width: 24px;
    height: 24px;
}
.apps i {
    cursor: pointer;
}

.apps .contents {
    z-index: 10;
    position: absolute;
    right: -6px;
    border-top: 4px solid transparent;
    top: 20px;
}

.apps .contents > div:first-child {
    padding: 0;
    width: 416px;
    height: 301px;
}
.search {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    height: 52px;
    margin: 8px 0 12px 8px;
}

.search > div:first-child {
    margin: 0;
}

.search > div:first-child > label:first-child {
    overflow: visible;
}
.search > div:first-child > label:first-child > input:first-child {
    padding: 0 0 0 11px;
    height: 44px;
    width: 358px;
    border-radius: 4px 4px 0 0;
    background-color: rgba(0, 0, 10, 0.05);
    color: #494949;
    font-size: 13px;
}

.apps .settings {
    margin: 16px 14px 0 14px;
    color: #949394;
    font-size: 22px;
}

.modules {
    overflow: scroll;
    overflow-x: hidden;
    margin: 0 8px 0 8px;
    width: 400px;
    height: 235px;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
}

.app {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: calc(100% / 4);
    height: 100px;
    border-radius: 12px;
    text-decoration: none;
}
.app:hover {
    background-color: #eaf4ff;
}
.app:hover > .name {
    font-weight: 500;
}

.app > img {
    width: 40px;
    height: 40px;
}

.app > .name {
    margin-top: 14px;
    height: 14px;
    color: rgba(0, 0, 0, 0.87);
    font-size: 12px;
    line-height: 14px;
    text-align: center;
    letter-spacing: 0.01em;
}

.profile {
    position: relative;
    margin: 2px 12px 0 24px;
    width: 36px;
    height: 36px;
}
.profile .icon {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    border-radius: 50%;
    width: 36px;
    height: 36px;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.3);
}
.profile .icon > .initials {
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-align: center;
}

.profile .icon > img {
    max-width: 100%;
    max-height: 100%;
}

.profile:hover .contents {
    display: block;
}

.profile .contents {
    display: none;
    z-index: 10;
    position: absolute;
    right: -6px;
    border-top: 4px solid transparent;
    top: 36px;
    width: 310px;
}
.profile .contents > div:first-child {
    padding: 0;
}

.header {
    display: flex;
    flex-direction: row;
    margin-left: 30px;
    padding-top: 20px;
}
.header > .icon {
    width: 48px;
    height: 48px;
}

.header > .details {
    display: flex;
    flex-direction: column;
    margin-left: 20px;

    font-weight: 400;
    font-size: 14px;
    color: #000;
}
.details > .name {
    font-size: 16px;
}

.details > .email {
    font-size: 14px;
}

.details > .edit_profile {
    cursor: pointer;
    font-size: 12px;
    text-decoration: underline;
    color: rgba(0, 0, 0, 0.87);
}

.divider {
    height: 1px;
    margin: 16px 0 20px 0;
    background-color: rgba(32, 32, 32, 0.15);
}

nav {
    display: flex;
    flex-direction: column;
}
nav > .item {
    cursor: pointer;
    display: flex;
    flex-direction: row;
    margin: 0 0 20px 30px;
    line-height: 24px;
}
nav > .item > i {
    margin-right: 20px;
    width: 20px;
    height: 20px;
}

nav > .item > .label {
    font-weight: 400;
    font-size: 14px;
}

.blue {
    background-color: #2c6693;
}
.blue > .first > .title {
    color: #fff;
}

.blue > .current-selection {
    color: #fff;
}

.blue > .last > .notification > i,
.blue > .last > .apps > i:first-child {
    color: #fff;
}
.container.blue .profile > .icon > .initials {
    color: #fff;
}

.white {
    background-color: #fff;
}

.transparent {
    background-color: transparent;
    border-bottom-color: transparent;
}
.transparent .first .logo {
    border-right-color: transparent;
}
