.container {
    border-bottom: 1px solid rgba(32, 32, 32, 0.15);
    height: 48px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.first {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.logo {
    margin: 0 12px 0 0;
    border-right: 1px solid rgba(32, 32, 32, 0.15);
    padding-top: 12px;
    width: 48px;
    height: 48px;
    text-align: center;
}
.logo svg,
.logo a {
    width: 27px;
    height: 25px;
}

.logo a,
.logo a:hover,
.logo a:focus,
.logo a:active,
.logo a:visited {
    display: inline-block;
    user-select: none;
    background-color: transparent;
}

.title {
    color: #000;
    overflow: hidden;
    white-space: nowrap;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 0.01em;
}

.last {
    user-select: none;
    margin-left: auto;
    display: flex;
    flex-direction: row;
}

.notification {
    margin: 8px 24px 0 0;
    position: relative;
    cursor: pointer;
}
.notification .message {
    margin-top: 10px;
}

.notification .email {
    margin-right: 0;
}

.notification > .count {
    z-index: 1;
    position: absolute;
    right: -10px;
    top: -6px;
    border-radius: 50%;
    width: 16px;
    height: 16px;
    font-size: 9px;
    font-weight: 500;
    line-height: 16px;
    text-align: center;
    color: #fff;
}

.notification > .count i {
    width: 20px;
    height: 20px;
}

.apps {
    position: relative;
    margin: 8px 0 0 0;
    width: 24px;
    height: 24px;
}
.apps i {
    cursor: pointer;
}

.apps .contents {
    z-index: 10000;
    position: absolute;
    top: 20px;
    right: -6px;
    border-top: 4px solid transparent;
}

.apps .contents > div:first-child {
    padding: 0;
    width: 416px;
    height: 301px;
}
.search {
    margin: 8px 0 12px 8px;
    padding-top: 8px;
    height: 52px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.apps .settings {
    margin: 8px 16px 0;
    color: #949394;
    font-size: 22px;
}

.modules {
    overflow: scroll;
    overflow-x: hidden;
    margin: 0 8px 0 8px;
    width: 400px;
    height: 235px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
}

.app {
    border-radius: 12px;
    width: calc(100% / 4);
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}
.app:hover {
    background-color: #eaf4ff;
}
.app:hover > .name {
    font-weight: 500;
}

.app > img {
    width: 40px;
    height: 40px;
}

.app > .name {
    margin-top: 14px;
    height: 14px;
    color: rgba(0, 0, 0, 0.87);
    font-size: 12px;
    line-height: 14px;
    text-align: center;
    letter-spacing: 0.01em;
}

.profile {
    position: relative;
    margin: 2px 12px 0 24px;
    width: 36px;
    height: 36px;
}
.profile .icon {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    border-radius: 50%;
    width: 36px;
    height: 36px;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.3);
}
.profile .icon > .initials {
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-align: center;
}

.profile .icon > img {
    max-width: 100%;
    max-height: 100%;
}

.profile .contents {
    z-index: 10000;
    position: absolute;
    top: 36px;
    right: -6px;
    border-top: 4px solid transparent;
    width: 310px;
}
.header {
    margin-left: 24px;
    padding-top: 20px;
    display: flex;
    flex-direction: row;
}
.header > .icon {
    width: 48px;
    height: 48px;
}

.header > .details {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    font-weight: 400;
    font-size: 14px;
    color: #000;
}
.details > .name {
    margin-bottom: 3px;
    font-size: 16px;
    line-height: 19px;
}

.details > .email {
    margin-bottom: 6px;
    font-size: 14px;
    line-height: 16px;
}

.details > .edit_profile {
    cursor: pointer;
    font-size: 12px;
    line-height: 14px;
    text-decoration: underline;
    color: rgba(0, 0, 0, 0.87);
}

.blue {
    background-color: #2c6693;
}
.blue > .first > .title {
    color: #fff;
}

.blue > .last > .notification > i,
.blue > .last > .apps > i:first-child {
    color: #fff;
}
.container.blue .profile > .icon > .initials {
    color: #fff;
}
