.container {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 9997;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.backdrop {
    pointer-events: all;
    cursor: default;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 9998;
    background-color: rgba(0, 0, 0, 0.4);
    top: 0;
    left: 0;
    animation-duration: 80ms;
    animation-timing-function: cubic-bezier(0.4, 0, 0.6, 1);
    transform-origin: center center;
    animation-name: d2ui-dialog-backdrop-show;
}

.backdrop.animate-out {
    animation-name: d2ui-dialog-backdrop-hide;
    animation-delay: 40ms;
    animation-fill-mode: forwards;
}

.window {
    pointer-events: all;
    position: absolute;
    z-index: 9999;
    opacity: 0;
    animation-duration: 120ms;
    animation-timing-function: cubic-bezier(0.4, 0, 0.6, 1);
    transform-origin: center center;
    animation-name: d2ui-dialog-window-show;
    animation-delay: 60ms;
    animation-fill-mode: forwards;
    max-height: calc(100vh - 3rem);
    max-width: calc(100vw - 3rem);
    border-radius: 2px;
    background-color: #ffffff;
    box-shadow: 0 11px 15px -7px rgba(0, 0, 0, 0.2),
        0 24px 38px 3px rgba(0, 0, 0, 0.14), 0 9px 46px 8px rgba(0, 0, 0, 0.12);
    display: flex;
    flex-direction: column;
}

.window.small {
    width: 400px;
}

.window.medium {
    width: 800px;
}

.window.large {
    width: 1600px;
}

.window.fullscreen {
    width: calc(100vw - 3rem);
    height: calc(100vh - 3rem);
}

.window.animate-out {
    animation-name: d2ui-dialog-window-hide;
    animation-delay: 0s;
    animation-fill-mode: forwards;
}

.title {
    display: flex;
    align-items: center;
    padding: 1.5rem 1.5rem 0;
}

.content {
    display: block;
    flex: 1;
    align-items: center;
    padding: 0 1.5rem 1.5rem;
    margin-top: 1.5rem;
    overflow-y: auto;
}

.footer {
    display: block;
    text-align: right;
    justify-content: flex-end;
    padding: 0.5rem;
}

body.disable-scroll {
    height: 100vh !important;
    overflow: hidden;
}

@keyframes d2ui-dialog-backdrop-show {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes d2ui-dialog-window-show {
    0% {
        opacity: 0;
        transform: translateY(75px) scale(0.8);
    }
    100% {
        opacity: 1;
        transform: translateY(0) scale(1);
    }
}

@keyframes d2ui-dialog-backdrop-hide {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes d2ui-dialog-window-hide {
    0% {
        opacity: 1;
        transform: translateY(0) scale(1);
    }
    100% {
        opacity: 0;
        transform: translateY(75px) scale(0.8);
    }
}
