/* Using an adapted version of 
 https://github.com/material-components/material-components-web/tree/master/packages/mdc-checkbox */
.d2ui-checkbox {
    display: inline-block;
    position: relative;
    flex: 0 0 1.125rem;
    box-sizing: content-box;
    width: 1.125rem;
    height: 1.125rem;
    padding: 0.6875rem;
    line-height: 0;
    white-space: nowrap;
    cursor: pointer;
    vertical-align: bottom;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    will-change: transform, opacity;

    &::before,
    &::after {
        position: absolute;
        border-radius: 50%;
        opacity: 0;
        pointer-events: none;
        content: "";
        background-color: #00796b;
        top: calc(50% - 50%);
        /* @noflip */
        left: calc(50% - 50%);
        width: 100%;
        height: 100%;
    }

    &::before {
        transition: opacity 15ms linear;
        z-index: 1;
    }

    &::after {
        transition: opacity 150ms linear;
    }

    &:hover::before {
        opacity: 0.04;
    }

    &:focus::before {
        transition-duration: 75ms;
        opacity: 0.12;
    }

    &:active::after {
        transition-duration: 75ms;
        opacity: 0.16;
    }

    &__label-text {
        padding-top: 2px;
        cursor: pointer;
        user-select: none;
    }
    &__label-text--disabled {
        cursor: not-allowed;
    }

    &__checkmark {
        color: #fff;
    }

    &__mixedmark {
        border-color: #fff;
    }

    &__background::before {
        background-color: #00796b;
    }

    &__native-control:enabled:not(:checked):not(:indeterminate)
        ~ .d2ui-checkbox__background {
        border-color: rgba(0, 0, 0, 0.54);
        background-color: transparent;
    }

    &__native-control:enabled:checked ~ .d2ui-checkbox__background,
    &__native-control:enabled:indeterminate ~ .d2ui-checkbox__background {
        border-color: #00796b;
        /* @alternate */
        border-color: #00796b;
        background-color: #00796b;
        /* @alternate */
        background-color: #00796b;
    }

    &__native-control:disabled:not(:checked):not(:indeterminate)
        ~ .d2ui-checkbox__background {
        border-color: rgba(0, 0, 0, 0.26);
    }

    &__native-control:disabled:checked ~ .d2ui-checkbox__background,
    &__native-control:disabled:indeterminate ~ .d2ui-checkbox__background {
        border-color: transparent;
        background-color: rgba(0, 0, 0, 0.26);
    }

    &--disabled {
        cursor: not-allowed;
        pointer-events: none;
    }

    &__background {
        /* @noflip */
        left: 0.6875rem;
        /* @noflip */
        right: initial;
        display: inline-flex;
        position: absolute;
        top: 0.6875rem;
        bottom: 0;
        align-items: center;
        justify-content: center;
        box-sizing: border-box;
        width: 45%;
        height: 45%;
        transition: background-color 90ms 0ms cubic-bezier(0.4, 0, 0.6, 1),
            border-color 90ms 0ms cubic-bezier(0.4, 0, 0.6, 1);
        border: 0.125rem solid currentColor;
        border-radius: 2px;
        background-color: transparent;
        pointer-events: none;
        will-change: background-color, border-color;
    }

    &__checkmark {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        width: 100%;
        transition: opacity 180ms 0ms cubic-bezier(0.4, 0, 0.6, 1);
        opacity: 0;
    }

    &__checkmark-path {
        transition: stroke-dashoffset 180ms 0ms cubic-bezier(0.4, 0, 0.6, 1);
        stroke: currentColor;
        stroke-width: 3.12px;
        stroke-dashoffset: 29.78334;
        stroke-dasharray: 29.78334;
    }

    &__mixedmark {
        width: 100%;
        height: 0;
        transform: scaleX(0) rotate(0deg);
        transition: opacity 90ms 0ms cubic-bezier(0.4, 0, 0.6, 1),
            transform 90ms 0ms cubic-bezier(0.4, 0, 0.6, 1);
        border-width: 1px;
        border-style: solid;
        opacity: 0;
    }

    &__native-control:checked ~ .d2ui-checkbox__background,
    &__native-control:indeterminate ~ .d2ui-checkbox__background {
        transition: border-color 90ms 0ms cubic-bezier(0, 0, 0.2, 1),
            background-color 90ms 0ms cubic-bezier(0, 0, 0.2, 1);
    }
    &__native-control:checked ~ .d2ui-checkbox__background .d2ui-checkbox__checkmark-path,
    &__native-control:indeterminate
        ~ .d2ui-checkbox__background
        .d2ui-checkbox__checkmark-path {
        stroke-dashoffset: 0;
    }

    &__background::before {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        transform: scale(0, 0);
        transition: opacity 90ms 0ms cubic-bezier(0.4, 0, 0.6, 1),
            transform 90ms 0ms cubic-bezier(0.4, 0, 0.6, 1);
        border-radius: 50%;
        opacity: 0;
        pointer-events: none;
        content: "";
        will-change: opacity, transform;
    }

    &__native-control:focus ~ .d2ui-checkbox__background::before {
        transform: scale(2.75, 2.75);
        transition: opacity 80ms 0ms cubic-bezier(0, 0, 0.2, 1),
            transform 80ms 0ms cubic-bezier(0, 0, 0.2, 1);
        opacity: 0.12;
    }

    &__native-control {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 0;
        opacity: 0;
        cursor: inherit;
    }
    &__native-control:disabled {
        cursor: not-allowed;
        pointer-events: none;
    }

    &__native-control:checked ~ .d2ui-checkbox__background .d2ui-checkbox__checkmark {
        transition: opacity 180ms 0ms cubic-bezier(0, 0, 0.2, 1),
            transform 180ms 0ms cubic-bezier(0, 0, 0.2, 1);
        opacity: 1;
    }

    &__native-control:checked ~ .d2ui-checkbox__background .d2ui-checkbox__mixedmark {
        transform: scaleX(1) rotate(-45deg);
    }

    &__native-control:indeterminate
        ~ .d2ui-checkbox__background
        .d2ui-checkbox__checkmark {
        transform: rotate(45deg);
        transition: opacity 90ms 0ms cubic-bezier(0.4, 0, 0.6, 1),
            transform 90ms 0ms cubic-bezier(0.4, 0, 0.6, 1);
        opacity: 0;
    }

    &__native-control:indeterminate
        ~ .d2ui-checkbox__background
        .d2ui-checkbox__mixedmark {
        transform: scaleX(1) rotate(0deg);
        opacity: 1;
    }
}

.d2ui-toggle-field:hover .d2ui-checkbox::before {
    opacity: 0.04;
}

.d2ui-toggle-field--disabled:hover .d2ui-checkbox::before {
    opacity: 0;
}

/* PostCSS RTL should leave this along, because these are manual */
/* rtl:begin:ignore */
.d2ui-checkbox[dir="rtl"] .d2ui-checkbox__background,
[dir="rtl"] .d2ui-checkbox .d2ui-checkbox__background {
    /* @noflip */
    left: initial;
    /* @noflip */
    right: 0.6875rem;
}
/* rtl:end:ignore */

@supports not (-ms-ime-align: auto) {
    .d2ui-checkbox__background::before {
        /* @alternate */
        background-color: #00796b;
    }
}

@media screen and (-ms-high-contrast: active) {
    .d2ui-checkbox__mixedmark {
        margin: 0 1px;
    }
}
