/* Using an adapted version of 
 https://github.com/material-components/material-components-web/tree/master/packages/mdc-radio */
.d2ui-radio-button {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    will-change: transform, opacity;
    display: inline-block;
    position: relative;
    flex: 0 0 auto;
    box-sizing: border-box;
    width: 2.5rem;
    height: 2.5rem;
    padding: 0.625rem;
    cursor: pointer;
    will-change: opacity, transform, border-color, color;

    &::before,
    &::after {
        position: absolute;
        border-radius: 50%;
        opacity: 0;
        pointer-events: none;
        content: "";
    }
    &::before {
        transition: opacity 15ms linear;
        z-index: 1;
    }

    &::before,
    &::after {
        top: calc(50% - 50%);
        /* @noflip */
        left: calc(50% - 50%);
        width: 100%;
        height: 100%;
    }

    &::before,
    &::after {
        background-color: #00796b;
    }
    &:hover::before {
        opacity: 0.04;
    }
    &:focus::before {
        transition-duration: 75ms;
        opacity: 0.12;
    }
    &::after {
        transition: opacity 150ms linear;
    }
    &:active::after {
        transition-duration: 75ms;
        opacity: 0.16;
    }

    &--disabled {
        pointer-events: none;
    }

    &__label-text {
        padding-top: 2px;
        cursor: pointer;
        user-select: none;
    }

    &__label-text--disabled {
        cursor: not-allowed;
    }

    &__background {
        display: inline-block;
        position: absolute;
        left: 0.625rem;
        box-sizing: border-box;
        width: 50%;
        height: 50%;

        &::before {
            background-color: #00796b;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            transform: scale(0, 0);
            transition: opacity 120ms 0ms cubic-bezier(0.4, 0, 0.6, 1),
                transform 120ms 0ms cubic-bezier(0.4, 0, 0.6, 1);
            border-radius: 50%;
            opacity: 0;
            pointer-events: none;
            content: "";
        }
    }
    &__outer-circle {
        position: absolute;
        top: 0;
        left: 0;
        box-sizing: border-box;
        width: 100%;
        height: 100%;
        transition: border-color 120ms 0ms cubic-bezier(0.4, 0, 0.6, 1);
        border-width: 2px;
        border-style: solid;
        border-radius: 50%;
    }
    &__inner-circle {
        position: absolute;
        top: 0;
        left: 0;
        box-sizing: border-box;
        width: 100%;
        height: 100%;
        transform: scale(0, 0);
        transition: transform 120ms 0ms cubic-bezier(0.4, 0, 0.6, 1),
            border-color 120ms 0ms cubic-bezier(0.4, 0, 0.6, 1);
        border-width: 10px;
        border-style: solid;
        border-radius: 50%;
    }
    &__native-control {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 0;
        opacity: 0;
        cursor: inherit;
        z-index: 1;

        &:enabled:not(:checked)
            + .d2ui-radio-button__background
            .d2ui-radio-button__outer-circle {
            border-color: #494949;
        }
        &:disabled:not(:checked)
            + .d2ui-radio-button__background
            .d2ui-radio-button__outer-circle {
            border-color: #c5c5c5;
        }
        &:enabled:checked
            + .d2ui-radio-button__background
            .d2ui-radio-button__outer-circle {
            border-color: #00796b;
            /* @alternate */
            border-color: #00796b;
        }
        &:enabled + .d2ui-radio-button__background .d2ui-radio-button__inner-circle {
            border-color: #00796b;
            /* @alternate */
            border-color: #00796b;
        }

        &:checked + .d2ui-radio-button__background,
        &:disabled + .d2ui-radio-button__background {
            transition: opacity 120ms 0ms cubic-bezier(0, 0, 0.2, 1),
                transform 120ms 0ms cubic-bezier(0, 0, 0.2, 1);
        }
        &:checked + .d2ui-radio-button__background .d2ui-radio-button__outer-circle,
        &:disabled + .d2ui-radio-button__background .d2ui-radio-button__outer-circle {
            transition: border-color 120ms 0ms cubic-bezier(0, 0, 0.2, 1);
        }
        &:checked + .d2ui-radio-button__background .d2ui-radio-button__inner-circle,
        &:disabled + .d2ui-radio-button__background .d2ui-radio-button__inner-circle {
            transition: transform 120ms 0ms cubic-bezier(0, 0, 0.2, 1),
                border-color 120ms 0ms cubic-bezier(0, 0, 0.2, 1);
        }

        &:checked + .d2ui-radio-button__background .d2ui-radio-button__inner-circle {
            transform: scale(0.5);
            transition: transform 120ms 0ms cubic-bezier(0, 0, 0.2, 1),
                border-color 120ms 0ms cubic-bezier(0, 0, 0.2, 1);
        }

        &:focus + .d2ui-radio-button__background::before {
            transform: scale(2, 2);
            transition: opacity 120ms 0ms cubic-bezier(0, 0, 0.2, 1),
                transform 120ms 0ms cubic-bezier(0, 0, 0.2, 1);
            opacity: 0.12;
        }
    }
}

.d2ui-toggle-field:hover .d2ui-radio-button::before {
    opacity: 0.04;
}
.d2ui-toggle-field--disabled:hover .d2ui-radio-button::before {
    opacity: 0;
}

/* The rules below are not written in a nested way 
   so the disabled styles are applied when any parent has [aria-disabled="true"] */
.d2ui-radio-button__native-control:disabled + .d2ui-radio-button__background,
[aria-disabled="true"]
    .d2ui-radio-button__native-control
    + .d2ui-radio-button__background {
    cursor: default;
}
.d2ui-radio-button__native-control:disabled
    + .d2ui-radio-button__background
    .d2ui-radio-button__outer-circle,
[aria-disabled="true"]
    .d2ui-radio-button__native-control
    + .d2ui-radio-button__background
    .d2ui-radio-button__outer-circle {
    border-color: #c5c5c5;
}
.d2ui-radio-button__native-control:disabled
    + .d2ui-radio-button__background
    .d2ui-radio-button__inner-circle,
[aria-disabled="true"]
    .d2ui-radio-button__native-control
    + .d2ui-radio-button__background
    .d2ui-radio-button__inner-circle {
    border-color: #c5c5c5;
}

@supports not (-ms-ime-align: auto) {
    .d2ui-radio-button .d2ui-radio-button__background::before {
        /* @alternate */
        background-color: #00796b;
    }
}

@supports not (-ms-ime-align: auto) {
    .d2ui-radio-button::before,
    .d2ui-radio-button::after {
        /* @alternate */
        background-color: #00796b;
    }
}
