.d2ui-switch {
    display: inline-block;
    position: relative;
    outline: none;
    user-select: none;
    padding: 0.8125rem 0.25rem;
    margin-left: 0.8rem;

    &--checked {
        .d2ui-switch__thumb-underlay {
            transform: translateX(20px);
        }

        .d2ui-switch__native-control {
            transform: translateX(-20px);
        }

        .d2ui-switch__track {
            opacity: 0.54;
            background-color: #00796b;
            border-color: #00796b;
        }
        .d2ui-switch__thumb {
            background-color: #00796b;
            border-color: #00796b;
        }
    }

    &:not(.d2ui-switch--checked) {
        .d2ui-switch__track {
            background-color: #000;
            border-color: #000;
        }
        .d2ui-switch__thumb {
            background-color: #fff;
            border-color: #fff;
        }
        .d2ui-switch__thumb-underlay::before,
        .d2ui-switch__thumb-underlay::after {
            background-color: #9e9e9e;
        }
        .d2ui-switch__thumb-underlay:hover::before {
            opacity: 0.08;
        }
        .d2ui-switch__thumb-underlay:focus::before {
            transition-duration: 75ms;
            opacity: 0.24;
        }
        .d2ui-switch__thumb-underlay::after {
            transition: opacity 150ms linear;
        }
        .d2ui-switch__thumb-underlay:active::after {
            transition-duration: 75ms;
            opacity: 0.32;
        }
    }

    &--disabled {
        opacity: 0.38;
        pointer-events: none;

        .d2ui-switch__thumb {
            border-width: 1px;
        }
        .d2ui-switch__native-control {
            cursor: default;
            pointer-events: none;
        }
    }

    &__label-text {
        padding-top: 2px;
        padding-left: 4px;
        cursor: pointer;
        user-select: none;
    }

    &__label-text--disabled {
        cursor: not-allowed;
    }

    &__native-control {
        left: 0;
        right: initial;
        position: absolute;
        top: 0;
        width: 4.25rem;
        height: 3rem;
        margin: 0;
        opacity: 0;
        cursor: pointer;
        pointer-events: auto;
    }

    &__track {
        box-sizing: border-box;
        width: 2rem;
        height: 0.875rem;
        transition: opacity 90ms cubic-bezier(0.4, 0, 0.2, 1),
            background-color 90ms cubic-bezier(0.4, 0, 0.2, 1),
            border-color 90ms cubic-bezier(0.4, 0, 0.2, 1);
        border: 1px solid;
        border-radius: 0.4375rem;
        opacity: 0.38;
    }

    &__thumb-underlay {
        left: -1.125rem;
        right: initial;
        -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
        will-change: transform, opacity;
        display: flex;
        position: absolute;
        top: -0.3125rem;
        align-items: center;
        justify-content: center;
        width: 3rem;
        height: 3rem;
        transform: translateX(0);
        transition: transform 90ms cubic-bezier(0.4, 0, 0.2, 1),
            background-color 90ms cubic-bezier(0.4, 0, 0.2, 1),
            border-color 90ms cubic-bezier(0.4, 0, 0.2, 1);

        &::before,
        &::after {
            position: absolute;
            border-radius: 50%;
            opacity: 0;
            pointer-events: none;
            content: "";
        }
        &::before {
            transition: opacity 15ms linear;
            z-index: 1;
        }
        &::before,
        &::after {
            top: calc(50% - 50%);
            left: calc(50% - 50%);
            width: 100%;
            height: 100%;
        }
        &::before,
        &::after {
            background-color: #00796b;
        }

        &:hover::before {
            opacity: 0.04;
        }
        &:focus::before {
            transition-duration: 75ms;
            opacity: 0.12;
        }
        &::after {
            transition: opacity 150ms linear;
        }
        &:active::after {
            transition-duration: 75ms;
            opacity: 0.16;
        }
    }

    &__thumb {
        box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2),
            0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
        box-sizing: border-box;
        width: 1.25rem;
        height: 1.25rem;
        border: 10px solid;
        border-radius: 50%;
        pointer-events: none;
        z-index: 1;
    }
}

.d2ui-toggle-field:hover {
    .d2ui-switch:not(.d2ui-switch--checked) .d2ui-switch__thumb-underlay::before {
        opacity: 0.08;
    }

    .d2ui-switch--checked .d2ui-switch__thumb-underlay::before {
        opacity: 0.04;
    }
}

/* PostCSS RTL should leave this along, because these are manual */
/* rtl:begin:ignore */
[dir="rtl"] .d2ui-switch__thumb-underlay,
.d2ui-switch__thumb-underlay[dir="rtl"] {
    left: initial;
    right: -1.125rem;
}

[dir="rtl"] .d2ui-switch__native-control,
.d2ui-switch__native-control[dir="rtl"] {
    left: initial;
    right: 0;
}

[dir="rtl"] .d2ui-switch--checked .d2ui-switch__thumb-underlay,
.d2ui-switch--checked .d2ui-switch__thumb-underlay[dir="rtl"] {
    transform: translateX(-20px);
}

[dir="rtl"] .d2ui-switch--checked .d2ui-switch__native-control,
.d2ui-switch--checked .d2ui-switch__native-control[dir="rtl"] {
    transform: translateX(20px);
}
/* rtl:end:ignore */

@supports not (-ms-ime-align: auto) {
    .d2ui-switch__thumb-underlay::before,
    .d2ui-switch__thumb-underlay::after {
        background-color: #00796b;
    }
}
