.d2ui-toggle-field {
    display: inline-flex;
    align-items: center;
    padding: 0.5rem 0 0.375rem 0;
    vertical-align: bottom;
    color: #494949;
    cursor: pointer;

    &--disabled {
        cursor: not-allowed;
        color: #9e9e9e;
    }

    &--dense {
        padding: 0.1875rem 0 0.0625rem 0;
    }
}
